/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align:center;
    margin-top:15em;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  