/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align:center;
    margin-top:15em;
    background-image:url('img/cloudy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    
  }
p{
  font-weight:bold;
  font-size:30px;
}
  h3{
    font-size: 45px;
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  